@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*, *:after, *:before {
    box-sizing: border-box;
}

.mainContainer {
    font-family: "DM Sans", sans-serif;
    line-height: 1.5;
    background: linear-gradient(#141e30, #243b55);
    padding: 0 2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainBlock {
    width: 400px;
    height: 480px;
    padding: 30px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.mainBlock h1, h2 {
    margin: 0 0 20px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.mainBlock img {
    height: 108px;
    width: 108px;
    margin-bottom: 20px;
}

.explainedBlock {
    color: #FFFFFF;
    font-size: .875rem;
    text-align: left;
    margin: 0;
}

.cardInfo {
    padding: 1rem 1rem;
    text-align: center;
    font-size: .875rem;
    color: #8597a3;
}



